// Place all the styles related to the admins/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-box {
	display:inline-block;
	margin-right: 10px;
}

h2 {
	padding-bottom: 30px;
}


.introduction {
	width: 60%;
	height: 300px;
}

