// Place all the styles related to the admins/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form {
	margin-top: 100px;
	position: absolute;
}

dt {
	padding-left:100px;
	width: 350px;
	float: left;
	display: inline-block;
	clear:both;
}

dd {
	float: left;
	width: 200px;
	display: inline-block;
	margin-bottom: 20px;
}

.button{
	position:relative;
	top: 300px;
	float: rigth;
}

.status {
	width: 168px;
}