// Place all the styles related to the admins/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.explanation {
	display: inline-block;
	margin-left:50px;
}

.show-image {
	display: inline-block;
	float: left;
}

.show-product {
	display: block;
}

dd {
	display: inline-block;
	width: 200px;
}

.button {
	float:right;
}

dt {
	display: inline-block;
	width: 150px;
	margin-bottom: 15px;
}

.status {
	width: 168px;
}

.sweets {
	height: 100px;
}