// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-total {
  margin-right: 50px;
}

.cart-total td {
  padding: 0px 15px;
  border: double 1px;
}

.sum-letter {
  background-color: #F0F0F0
}
