<div class="row">
	<h2>商品一覧</h2>
	<table class="table">
		<thead>
		  	<tr>
		  		<th>商品ID</th><th>商品名</th><th>税抜き価格</th><th>ジャンル</th><th>ステータス</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  	<% @products.each do |product| %>
	  	<tr>
	  		<td><%= product.id %></td>
	  		<td><%= product.name %></td>
	  		<td><%= product.tax_excluded_price %></td>
	  		<td><%= product.genre.name %></td>
	  		<td><% if product.is_valid == true %>
	  				<p>販売中</p>
	  			<% else %>
	  				<p>販売停止中</p>
	  			<% end %>
	  		</td>
	  	</tr>
	  	<% end %>
	  	</tbody>
	</table>
</div>
